.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.auto.tfvars
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.vscode/
.idea/
